<!DOCTYPE html>

<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->



<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=0">
  <title>VIASPADARI</title>


<meta name="google-site-verification" content="">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="https://viaspadari.com/client/assets/images/profile.jpg">

<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@">
<meta name="twitter:site" content="@viaspadari">
<meta name="twitter:title" content="viaspadari">
<meta name="twitter:description" content="viaspadari">
<meta name="twitter:image" content="https://viaspadari.com/client/assets/images/profile.jpg">

<meta name="description" content="viaspadari">
<meta name="robots" content="noodp">
<meta name="keywords" content="">
<link rel="canonical" href="https://viaspadari.com/">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="viaspadari">
<meta property="og:description" content="viaspadari">
<meta property="og:url" content="https://viaspadari.com/">
<meta property="og:site_name" content="viaspadari">


  <meta name=“author” title=“Elia Fornari | Qual Agency”>

  <link rel=”author” href=”https://plus.google.com/u/1/+eliafornarichannel”/>
  <link rel="icon" type="image/x-icon" href="assets/favicon/favicon.ico" >


<!--
=======================================================================

    Chapter | 2016

    Designed and developed by Elia Fornari | ELIA LLC.

    sowftware is how we make art

=======================================================================

-->

  <script>

  </script>

  <base href="/">
</head>



<!-- .................................. Body ...............................-->

<body ng-controller="appCtrl">


    <nav-directive ></nav-directive>

  <div ng-show="pageLoading" class="loader">
    <div class="loader-animation">
    </div>
  </div>


  <div class="bag" ng-click="openCart()" ng-cloak>
    <p class="bag-total" ng-if="Cart.total_items != 0">{{Cart.total_items}}</p>

    <div class="bag-svg">
      <bag-directive></bag-directive>
      <!-- Creative Stall | Noun Project -->
    </div>

  </div>



  <div class="cart-close" ng-click="closeCart()" ng-show="showCart" ng-cloak>
    <ex-directive></ex-directive>
  </div>

  <div class="cart" ng-include="template.url" ng-show="showCart" ng-controller="cartCtrl" >

  </div>


  <main ng-view class="main page {{pageClass}}" ng-hide="pageLoading"></main>



</body>

  <link rel="stylesheet" type="text/css" href="/dist/style.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/dist/bundle.js"></script>

</html>
