.cart{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: $z-cart;
  background-color: rgba(0, 0, 0, 1);
  // border: 1px solid white;
  @include respond-to(phone){
    height: 100vh;
    width: 100vw;
    bottom: 0px;
    top:auto;
    bottom:0;
    margin:0;
    left: 0;
  }
}




.cart-close{
  position: fixed;
  right:$margin-sides;
  top:$margin-sides;
  width: 25px;
  height:25px;
  z-index: $z-clickOut;
  svg{
    width: 100%;
    height:100%;
    line{
      stroke: $white;
    }
  }
}

.cart-contents{
  height: 100%;
  width: 90%;
  margin: auto;
}
.cart-ul{
  position: relative;
  left: $form-sides;
  margin-top:$form-sides;
  width:70vw;
  height:auto;
  max-height:450px;
  overflow:scroll;
  @include respond-to(phone){
    left: $margin-sides;
    margin-top: $form-sides-mobile;
    width:90vw;
  }
  .cart-li{
    width:100%;
    display:block;
    height: 70px;
    position: relative;
    margin-top: $margin-top-li;
    .cart-img{
      height: 70px;
      width:auto;
      float:left;
    }
    &:nth-child(1){
      margin-top:50px;
    }

    .cart-name{
      margin-left: $margin-right-p;
      @include respond-to(phone){
        margin-left: $margin-right-p-mobile;
        width:200px;
      }
    }
    .cart-price{
      float:right;
      margin-right: 100px;
      @include respond-to(phone){
        float:left;
        margin-right:auto;
      }
    }
    .cart-remove{
      float:right;
      @include p();
      position: absolute;
      right: 0;
      line-height: 70px;
      height:70px;
      @include hover-effect-color($light-grey, $white);
      @include respond-to(phone){
        line-height: $line-height-p;
        height:auto;
      }

    }
    p{
      @include p();
      float:left;
      line-height: 70px;
      height:70px;
      @include respond-to(phone){
        line-height: $line-height-p;
        height:auto;
      }
    }
  }
}

.cart-total{
  position: relative;
  left:$form-sides;
  height: auto;
  width: auto;
  margin-top: $margin-top-div;
  .cart-total-tax{
    @include p();
  }
  .cart-total-amount{
    @include p();
    span{
      margin-left: $margin-right-p;
    }
  }
}












.form-title{
  @include h3();
  position: absolute;
  width:100px;
  top:$margin-sides;
  left:50%;
  margin-left: -50px;
}

.form-sub-title{
  @include p();
  text-transform: uppercase;
}



.checkout-button{
  width:400px;
  @include button();
  @include hover-effect-color($light-grey, $white);
  border: 0;
  outline: 0;
  padding: 0;
  margin-top: $margin-top-div;
  @include respond-to(phone){
    box-sizing: border-box;
  }
}




.cart-back{
  position: absolute;
  left:$margin-sides;
  bottom: $margin-sides;
  width: auto;
  h3{
    height:100%;
    @include h3();
    @include hover-effect-color($light-grey, $white);
    line-height: normal;
    @include respond-to(phone){
      height:$line-height-h2;
      line-height:$line-height-h2;
    }
  }
}




.form-entry{
  width:100%;
  height:20px;
  position: relative;
  margin-top: $margin-top-form;
  &:nth-child(1){
    margin-top: 15px;
  }
  input{
    width: 100%;
    left: 0px;
    position: absolute;
    top: 50%;
    height: 20px;
    margin-top: -10px;
    @include input();
  }
}

.form-error{
  position: absolute;
  right:5px;
}
.form-error-password{
  position: absolute;
  top:25px;
}







select{
  width: 100%;
  left: 0px;
  position: absolute;
  top: 50%;
  height: 20px;
  margin-top: -10px;
  @include select();

}




// .ng-valid .ng-pending .ng-pristine .ng-submitted
input.ng-dirty.ng-valid , select.ng-dirty.ng-valid{
  border-bottom: 1px solid $light-grey;
}

input.ng-dirty.ng-invalid , select.ng-dirty.ng-invalid{
  border-bottom: 1px solid #FFFF00;
}
