.contact{
  width:100%;
  height:100vh;
  .contact-content{
    margin: auto;
    display: block;
    height: auto;
    width:50vw;
  }
}

.contact-a{
  width:100%;
  margin: auto;
  display: block;
  text-align: center;
  @include p();
  @include hover-effect-color($light_grey, $white);
  margin-top: $margin-top-p;
}
