.event{
  width: 100vw;
  height:100vh;
}

.event-ul{
  width:400px;
  margin:auto;
  margin-top: $margin-top;
  @include respond-to(phone){
    width:80vw;
  }
  .event-li{
    width:400px;
    clear:both;
    margin: auto;
    height:50px;
    position: relative;
    @include respond-to(phone){
      width:80vw;
    }
    &:nth-child(1){
      margin-top: 0;
    }
    .event-date{
      width:400px;
      margin: auto;
      @include respond-to(phone){
        width:80vw;
      }
      span{
        width:20%;
        text-align: center;
        float:left;
        // height:$line-height-h1;
        // line-height: $line-height-h1;
      }
    }
  }
}

.event-info-left{
  position: absolute;
  left:0;
  width:200px;
  // height:$line-height-h1;
  // line-height: $line-height-h1;
  vertical-align: middle;
  a{
    @include paragraph();
    color:$red;
    @include hover-effect-glow($red);
  }
  span{
    @include paragraph();
  }
}
.event-info-right{
  position: absolute;
  right:0;
  width:200px;
  // height:$line-height-h1;
  // line-height: $line-height-h1;
  vertical-align: middle;
  text-align: right;
  span{
    width:100%;
    text-align: right;
    @include paragraph();
  }
}

.event-image{
  position: fixed;
  left:$margin-sides;
  bottom:$margin-sides;
  width:250px;
  img{
    width:100%;
  }
}



.event-description{
  position: fixed;
  right:$margin-sides;
  bottom:$margin-sides;
}


.event-date.shrinkDate{
  width:8vw !important;
}


.event-date.shrinkDate-add.shrinkDate-add-active{
  -webkit-animation: shrink $transition-fast $animation-bezier;
  -moz-animation: shrink $transition-fast $animation-bezier;
  -ms-animation: shrink $transition-fast $animation-bezier;
  animation: shrink $transition-fast $animation-bezier;
}

.event-date.shrinkDate-remove.shrinkDate-remove-active{
  -webkit-animation: unShrink $transition-fast $animation-bezier;
  -moz-animation: unShrink $transition-fast $animation-bezier;
  -ms-animation: unShrink $transition-fast $animation-bezier;
  animation: unShrink $transition-fast $animation-bezier;
}



@keyframes shrink {
  0% { width:400px;   @include respond-to(phone){width:80vw;} }
  100% { width:8vw; }
}

@-webkit-keyframes shrink {
  0% { width:400px; @include respond-to(phone){width:80vw;} }
  100% { width:8vw; }
}

@-moz-keyframes shrink {
  0% { width:400px; @include respond-to(phone){width:80vw;} }
  100% { width:8vw; }
}

@-ms-keyframes shrink {
  0% { width:400px; @include respond-to(phone){width:80vw;} }
  100% { width:8vw; }
}

@-o-keyframes shrink {
  0% { width:400px; @include respond-to(phone){width:80vw;} }
  100% { width:8vw; }
}



@keyframes unShrink {
  0% { width:8vw;  }
  100% { width:400px; @include respond-to(phone){width:80vw;} }
}

@-webkit-keyframes unShrink {
  0% { width:8vw;  }
  100% { width:400px; @include respond-to(phone){width:80vw;} }
}

@-moz-keyframes unShrink {
  0% { width:8vw;  }
  100% { width:400px; @include respond-to(phone){width:80vw;} }
}

@-ms-keyframes unShrink {
  0% { width:8vw;  }
  100% { width:400px; @include respond-to(phone){width:80vw;} }
}

@-o-keyframes unShrink {
  0% { width:8vw;  }
  100% { width:400px; @include respond-to(phone){width:80vw;} }
}
