.home{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/images/background_0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}



.home-background{
  display:block;
  width:100vw;
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.96);
}
.home-background.desaturated {
  display:none;
}


//image
.home-image{
  width:23vw;
  height:23vw;
  position: fixed;
  left:$margin-sides;
  bottom:$margin-sides;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

}




//social
.home-social{
  position: fixed;
  right:$margin-sides;
  bottom: $margin-sides;
  .home-social-li{
    display: inline-block;
    margin-left:$margin-left-paragraph;
    a{
      display: block;
    }
  }
}


// -webkit-filter: grayscale(100%);
// filter: grayscale(100%);
