
.payment{
  width:100%;
  height:100%;
  .payment-content{
    width: 100%;
    height: 100%;
  }
}


.payment-form{
  width: 80%;
  margin: auto;
  height:700px;
  position:relative;
  margin: auto;
  margin-top: $form-sides;

  .payment-form-div{
    width:35%;
    height:200px;
    display:block;
    position: relative;
    @include respond-to(phone){
      width:50%;
      left: $margin-sides;
    }
  }
}



  .payment-total{
    position: relative;
    left:0;
    height: auto;
    width:35%;
    margin-top: $margin-top-div;
    background-color: transparent;

    p{
      @include p();
      width:80%;
      margin-top: $margin-top-form;
      span{
        float:right;
        @include p();
      }
    }
  }




.payment-header{
  @include h2();
}
