.processed{
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  position: fixed;
}

.processed-error{

}


.processed-thankyou{
  width:35%;
  height:auto;
  margin:auto;
  margin-top: 20%;
  p{
    width:100%;
    @include p();
    margin-top: $margin-top-div;
    &:nth-child(1){
      margin-top:0;
    }
    a{
      display: inline-block;
      @include p();
      margin-left: 5px;
      width: auto;
      text-align: center;
      vertical-align: middle;
    }
  }
  .processed-thankyou-email{

  }
  .processed-thankyou-social{

  }


}
