.shipment{
  width:100%;
  height:100%;
  .shipment-content{
    width: 100%;
    height: 100%;

    .shipment-form{
      width: 90%;
      margin: auto;
      height:700px;
      position:relative;
    }
  }
}

.shipment-h1{
  @include h2();
  position: absolute;
  top:$margin-sides;
  left:$margin-sides;

}



.customer{
  width:100%;
  display:block;
  position: absolute;
  top: $form-sides;
  left: $form-sides;
  @include respond-to(phone){
    left:$margin-sides;
  }
}

.customer-choice{
  h3{
    span{
      @include hover-effect-color($light_grey, $white);
      display: inline-block;
    }
  }
}

.customer-register{
  position: absolute;
  left:0%;
  width:35%;

}

.customer-login{
  position: absolute;
  left:0%;
  width:35%;
  button{
    color: $white;
  }

}






.shipment-to{
  width:100%;
  position: relative;
}


.address{
  width:35%;
  display:inline-block;
  position: relative;
  left:$form-sides;
  top: 280px;
  @include respond-to(phone){
    top: 250px;
    left:$margin-sides;
  }
}



.billing{
  width:35%;
  display:inline-block;
  position: relative;
  margin-left: 50px;
  @include respond-to(phone){
    top: 250px;
    left:45%;
    margin-left: 30px;
  }
}

.isBillingDifferent{
  position: absolute;
  left: $form-sides;
  top: 570px;
  height: auto;
  width: auto;
  margin-bottom: 20px;
  @include respond-to(phone){
    top: 125px;
    left:45%;
    margin-left: 30px;
  }
  label{
    @include p();
  }
  input{
    @include p();
  }
}



.shipment-button{
  position: absolute;
  bottom:0;
  top:auto;
}
