
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="1980px" height="2295px" viewBox="510 352.5 1980 2295" style="enable-background:new 510 352.5 1980 2295;"
	 xml:space="preserve">
<g>
	<g>
		<path style="fill:#FFFFFF;" d="M2490,2647.5H510L742.5,885H2265L2490,2647.5z M637.5,2535h1725L2160,997.5H840L637.5,2535z"/>
	</g>
	<g>
		<path style="fill:#FFFFFF;" d="M1980,1125h-112.5V832.5c0-202.5-165-367.5-367.5-367.5s-367.5,165-367.5,367.5V1125H1020V832.5
			c0-262.5,217.5-480,480-480s480,217.5,480,480V1125z"/>
	</g>
</g>
<text transform="matrix(1 0 0 1 299.9863 3525.0039)" style="enable-background:new    ;"><tspan x="0" y="0" style="font-family:'HelveticaNeue-Bold'; font-size:375;">C</tspan><tspan x="277.874" y="0" style="font-family:'HelveticaNeue-Bold'; font-size:375; letter-spacing:-6;">r</tspan><tspan x="417" y="0" style="font-family:'HelveticaNeue-Bold'; font-size:375;">eated by C</tspan><tspan x="2333.977" y="0" style="font-family:'HelveticaNeue-Bold'; font-size:375; letter-spacing:-6;">r</tspan><tspan x="2473.103" y="0" style="font-family:'HelveticaNeue-Bold'; font-size:375;">eative Stall</tspan></text>
<text transform="matrix(1 0 0 1 299.9863 3900.0039)" style="enable-background:new    ;"><tspan x="0" y="0" style="font-family:'HelveticaNeue-Bold'; font-size:375;">f</tspan><tspan x="124.872" y="0" style="font-family:'HelveticaNeue-Bold'; font-size:375; letter-spacing:-6;">r</tspan><tspan x="263.998" y="0" style="font-family:'HelveticaNeue-Bold'; font-size:375;">om the Noun P</tspan><tspan x="2917.088" y="0" style="font-family:'HelveticaNeue-Bold'; font-size:375; letter-spacing:-6;">r</tspan><tspan x="3056.213" y="0" style="font-family:'HelveticaNeue-Bold'; font-size:375;">oject</tspan></text>
</svg>
