

<svg class="menu-icon-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="390.039px" height="1691.622px" viewBox="1247.98 504.5 390.039 1691.622"
	 enable-background="new 1247.98 504.5 390.039 1691.622" xml:space="preserve">
<path fill="#FFFFFF" stroke="#000000" stroke-width="42" stroke-miterlimit="10" d="M-577.8,1056"/>
<rect fill="#FFFFFF" x="1247.98" y="1155.292" width="390.039" height="390.039"/>
<rect fill="#FFFFFF" x="1247.98" y="1806.083" width="390.039" height="390.039"/>
<rect fill="#FFFFFF" x="1247.98" y="504.5" width="390.039" height="390.039"/>
</svg>
