
.account{
  width:100%;
  height:100vh;
  .account-container{
    width:100%;
    height:100vh;
    position: absolute;
    overflow-y: scroll;
    position: relative;

  }
}



.account-nav{
  width: 270px;
  height:100vh;
  position: absolute;
  right: 0;
  top:0;
  border-left: 2px solid $background_grey;
  background-color: $black;
  z-index: $z-account-nav;

  .account-nav-a{
    display: block;
    @include h3();
    height:70px;
    line-height: 70px;
    border-top: 2px solid $background_grey;
    background-color: $black;
    @include hover-effect-background-color($black, $background-grey);
    text-align: center;
    vertical-align: center;
    &:nth-child(1){
      margin-top: $margin-top;
    }
    &:nth-last-child(1){
      border-bottom: 2px solid $background_grey;
    }
  }
}



.account-nav-a.selected-section{
  background-color: $background-grey;

}

.account-content{
  position: relative;
  width:calc(100% - 270px);

  .account-info{
    width:50%;
    display: block;
    margin: auto;
    margin-top: $margin-top;
    .account-info-data{

    }
    h3{
      display: block;
      width:100%;
      text-align: center;
      margin-bottom: $margin-top-li;
    }
    p{
      width:100%;
      text-align: left;
      position: relative;
    }
    a{
      margin-top: $margin-top-li;
      @include p();
    }


    .account-info-edit{
      width:100%;
      display: block;
      margin: auto;
    }
  }








  .account-order{
    width:50%;
    display: block;
    margin: auto;
    margin-top: $margin-top;
    .account-order-ul{
      margin-bottom:$margin-top;
      .account-order-li{
        margin-top: $margin-top-li;
        p{
          width:100%;
          text-align: left;
          position: relative;
          span{
            position: absolute;
            right:0;
            text-align: right;
          }
        }

      }
    }
  }

}


.account-title{
  @include h3();
  text-transform: uppercase;
}

.account-sub-title{
  @include p();
  text-transform: uppercase;
}
