.reset{
  width: 100%;
  height:100vh;
  position: relative;
  display: block;
  position: absolute;
}

.reset-form{
  width:80%;
  display: block;
  margin: auto;
  margin-top: $margin-top;
}



.reset-error{
  width: 80%;
  display: block;
  margin: auto;
  margin-top: $margin-top-li;
}


.form-error-password-user{
  position: relative;
  right:auto;
  top:auto;
  margin-top: $margin-top-li;
  margin-bottom: $margin-top-li;
  p{

  }
}
