<div class="about">

  <table>
    <tr>
      <td>
        <p class="about-p">
          No Vacancy Inn is a London based creative collective founded by Tremaine Emory and Acyde.This past Thursday, a batch of cutting-edge Brooklyn DJs and producers recently invaded Tom Sachs’s Boombox Retrospective: 1999–2016 at the Brooklyn Museum in New York City. Tremaine Emory and Acyde of No Vacancy Inn along with special guests Venus X and NY Theo (London) helmed Sachs’s Presidential Vampire Booth, blaring live music for a throng of modish museum-goers. The group also took hold of Bodega located at the entryway of the museum—selling a wide assortment of artwork, USB mixes, T-shirts, and a delicious red velvet cake made by Emory’s mother.
          Head over to Brooklyn Museum’s official website to view more upcoming Boom Box residencies for summer sixteen.
        </p>
      </td>
    </tr>
  </table>



</div>
