<div class="cart-contents"> <!-- 1 -->

    <ul class="cart-ul">
      <li ng-repeat="c in Cart.contents track by $index" class="cart-li">
        <img class="cart-img"  src="{{c.images[0].url.https}}" alt="{{c.images[0].name}}"/>
        <p class="cart-name">{{c.quantity}} {{c.name}}</p>
        <p class="cart-price">{{c.pricing.formatted.without_tax}}</p>
         <span class="cart-remove" ng-click="removeItem(c.item)" ng-if="!isMobile">remove</span>
         <span class="cart-remove" ng-click="removeItem(c.item)" ng-if="isMobile">x</span>
      </li>
    </ul>


    <div class="cart-total">
      <p class="cart-total-amount">TOTAL<span>{{Cart.totals.pre_discount.formatted.without_tax}}</span> </p>
    </div>

    <div class="cart-error" ng-show="noProductsError">
      <p>no products in your cart</p>
      <a ng-click="closeCart()">back</a>
    </div>

    <button type="submit" class="checkout-button hvr-sweep-to-right" ng-click="cartToShipment()">CHECKOUT</button>


</div>
