<div class="contact" summary="this is the content of contact">

<table>
  <tr>
    <td>
      <a class="contact-a" href="mailto:info@novacancyinn.com">info@novacancyinn.com</a>

    </td>
  </tr>
</table>


  <div class="elia" ng-show="elia">
    <style media="screen">
      .elia{
        font-weight: 700;
        position: fixed;
        top:50px;
        left:50px;
        z-index: 100;
      }
      .elia > a{
        font-family:helvetica;
        font-size: 20px;
        color: #000000;
        letter-spacing: 3px;
      }
      a:hover{

      }
    </style>
    <a href="http://eliafornari.com" target="_blank">elia</a>
  </div>

</div>
