<div class="contact" summary="this is the content of contact">

<table>
  <tr>
    <td>
      <div class="contact-content">
          <p><a class="contact-a" href="mailto:info@viaspadari.com">customer service</a></p>
          <p><a class="contact-a" href="mailto:riccardo@viaspadari.com">product</a></p>
          <p><a class="contact-a" href="mailto:marketing@viaspadari.com">marketing</a></p>
          <p><a class="contact-a" href="mailto:stefano@viaspadari.com">administration</a></p>
          <p><a class="contact-a" href="mailto:elia@viaspadari.com">digital</a></p>
      </div>


    </td>
  </tr>
</table>





  <div class="elia" ng-show="elia">
    <style media="screen">
      .elia{
        font-weight: 700;
        position: fixed;
        top:50px;
        left:50px;
        z-index: 100;
      }
      .elia > a{
        font-family:helvetica;
        font-size: 20px;
        color: #000000;
        letter-spacing: 3px;
      }
      a:hover{

      }
    </style>
    <a href="http://eliafornari.com" target="_blank">elia</a>
  </div>

</div>
