<div class="detail" ng-show="isShopDetail()">

  <div class="detail-images" ng-init="zoomImage=false" ng-click="zoomImage=!zoomImage" ng-class="{'zoom': zoomImage}">
    <div class="detail-images-single" ng-repeat="i in Detail.images">
      <img class="detail-img"  src="{{i.url.http}}" alt="{{p.description}}" />
    </div>
  </div>



  <div class="detail-functions">

      <div class="detail-modifiers">
        <ul class="detail-modifiers-ul" ng-repeat="m in Detail.modifiers">
          <p class="detail-modifiers-ul-placeholder" ng-click="showSelection(m.id)">{{m.title}} </p>

          <div class="detail-modifiers-variations" ng-click="showSelection(m.id)">
            <li class="detail-modifiers-variations-li" ng-repeat="v in m.variations" ng-click="thisVariation(Detail.id , m.id, m.title, v.id, v.title);" ng-show="selectedVariation[m.id].variation_title==v.title || m.open==true">
              <a>{{v.title}}</a>
            </li>
          </div>
        </ul>
      </div>
      <div class="detail-add">
        <p class="detail-add-plus-variation" ng-hide="Detail.has_variation" ng-click="addToCart(Detail.id)">ADD</p>
        <p class="detail-add-plus-variation" ng-show="Detail.has_variation" ng-click="addVariation()" ng-class="{'activeAdd': howManyVAriationsSelected>=Detail.total_variations}">ADD</p>
      </div>
      <p class="detail-price" ng-cloak>{{Detail.price.data.formatted.without_tax}}</p>

  </div>




</div>
