<nav ng-controller="navCtrl" class="nav">

   <div class="nav-logo">
     <a href="/">
       <logo-directive></logo-directive>
     </a>
   </div>


     <table class="nav-table">
       <tr>
         <td>
           <div class="nav-list" >
             <div class="nav-main" ng-repeat="p in Categories | orderBy: 'order' track by p.order" ng-if="p.status.data.key==1">
               <div class="nav-main-category">
                 <a class="nav-main-category-a" href="/{{p.slug}}" >{{p.title}} </a>
                 <!-- ng-class="{'active': isLocation(p.slug)}" -->
                 <span class="nav-main-category-span" ng-click="thisCategory(p.slug)" ng-show="p.children">{{ !categoryOpen ? '+' : '-' }}</span>
               </div>

               <div class="nav-sub" ng-class="{'closeCategory': categoryOpen!=p.slug}">
                 <a class="nav-sub-a" href="/{{c.slug}}"  ng-repeat="c in p.children" ng-if="c.status.data.key==1">{{c.title}}</a>
               </div>
               <!-- ng-class="{'active': isLocation(c.slug)}" -->
             </div>

           </div>
         </td>
       </tr>
     </table>


     <div class="nav-bottom">

       <div class="nav-bottom-one">
         <ul class="nav-bottom-left">
           <li class="nav-bottom-left-li nav-bottom-left-search form-entry">
              <input type="text" name="search" ng-model="productFilter" ng-init="showClear=true" placeholder="search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'search'" >
                <span class="nav-bottom-left-search-clear" ng-click="productFilter=''" ng-show="productFilter">clear</span>
              </input>
           </li>
           <li class="nav-bottom-left-li nav-bottom-left-philosophy">
             <a href="/philosophy">{{Locale.data.philosophy.title}}</a>
           </li>
           <li class="nav-bottom-left-li nav-bottom-left-contact">
             <a href="/contact">{{Locale.data.contact}}</a>
           </li>

          </ul>


            <li class="nav-bottom-right">
              <div class="nav-bottom-right-li nav-bottom-right-register" ng-if="User.status==false">
                <a href="/register">{{Locale.data.register}}</a>
              </div>

              <div class="nav-bottom-right-li nav-bottom-right-login"  ng-if="User.status==false">
                <a href="/login">{{Locale.data.login}}</a>
              </div>

              <div class="nav-bottom-right-li nav-bottom-right-account"  ng-if="User.status==true">
                <a href="/account">{{User.data.first_name}}</a>
              </div>

                <div class="nav-bottom-right-li nav-bottom-right-logout"  ng-if="User.status==true">
                  <a href="/" ng-click="logOut()">{{Locale.data.logout}}</a>
                </div>


            </li>
       </div>









        <div class="nav-bottom-two">
          <div class="nav-bottom-two-li nav-bottom-two-support">
            <a href="mailto:info@viaspadari.com">{{Locale.data.support}}</a>
          </div>

          <div class="nav-bottom-two-li nav-bottom-two-terms">
            <a href="/terms-services">{{Locale.data.terms}}</a>
          </div>

          <div class="nav-bottom-two-li nav-bottom-two-lang" ng-init="openLang=false">
            <ul class="nav-bottom-two-lang-ul" required>
              <li class="nav-bottom-two-lang-li" ng-show="openLang==false" ng-click="openLang=true"><p>{{selectedLang.language}}</p></li>
              <li class="nav-bottom-two-lang-li" ng-repeat="l in lang" ng-click="selectLang_client(l.code);" ng-show="openLang==true"><p>{{l.language}}</p></li>
            </ul>
          </div>
        </div>


     </div>



</nav>
