<nav ng-controller="navCtrl" class="nav">

   <div class="nav-logo">
     <a href="/">
       <logo-directive></logo-directive>
     </a>
   </div>


     <table class="nav-table">
       <tr>
         <td>
           <div class="nav-list" >
             <div class="nav-main" ng-repeat="p in Categories | orderBy: 'order' track by p.order">

               <a class="nav-main-a" href="/{{p.slug}}" ng-class="{'active': isLocation('/shop')}" >{{p.title}}</a>

               <div class="nav-sub">
                 <a class="nav-sub-a" href="/{{c.slug}}" ng-repeat="c in p.children">{{c.title}}</a>
               </div>
             </div>



           </div>
         </td>
       </tr>
     </table>


     <div class="nav-bottom">
       <div class="nav-bottom-lang">
         <select name="nav-bottom-lang-select" ng-model="selectedLang" ng-change="selectLang()" required>
           <option ng-repeat="l in lang" value="{{l.language}}" ng-selected="{{selectedLang = lang[0]}}">{{l.language}}</option>
         </select>

       </div>
     </div>



</nav>
