<nav ng-controller="navCtrl" class="nav">

   <div class="nav-logo">
     <a href="/">
       <logo-directive></logo-directive>
     </a>
   </div>


     <table class="nav-table">
       <tr>
         <td>
           <div class="nav-list" >
             <div class="nav-main" ng-repeat="p in Categories | orderBy: 'order' track by p.order" ng-if="p.status.data.key==1">

               <div class="nav-main-category">
                 <a class="nav-main-category-a" href="/{{p.slug}}" ng-class="{'active': isLocation('/shop')}" >{{p.title}} </a>
                 <span class="nav-main-category-span" ng-init="categoryOpen=true"ng-click="categoryOpen = ! categoryOpen">{{ !categoryOpen ? '+' : '-' }}</span>
               </div>


               <div class="nav-sub" ng-class="{'closeCategory': !categoryOpen}">
                 <a class="nav-sub-a" href="/{{c.slug}}" ng-repeat="c in p.children" ng-if="c.status.data.key==1">{{c.title}}</a>
               </div>
             </div>



           </div>
         </td>
       </tr>
     </table>


     <div class="nav-bottom">
       <div class="nav-bottom-user">
         <a href="/register">register</a>
         <a href="/login" ng-if="User.status==false" ng-cloak>login</a>
         <a href="/" ng-click="logOut()" ng-if="User.status==true" ng-cloak>logout</a>
       </div>
       <div class="nav-bottom-lang">
         <select name="nav-bottom-lang-select" ng-model="selectedLang" ng-change="selectLang()" required>
           <option ng-repeat="l in lang" value="{{l.language}}" ng-selected="{{selectedLang = lang[0]}}">{{l.language}}</option>
         </select>

       </div>
     </div>



</nav>
