<div class="processed" ng-cloak>
  <div class="processed-error" ng-hide="Processed.status==200 || Processed==false">
    <p>an error occurred please refresh the page</p>
    <p>{{Processed.data}}</p>
  </div>

  <div class="processed-thankyou" ng-show="Processed.status==200">
    <p>
      your order will be shipped to
      {{Processed.data.order.ship_to.data.address_1}}
      {{Processed.data.order.ship_to.data.city}}
      {{Processed.data.order.ship_to.data.county.value}}
      {{Processed.data.order.ship_to.data.country.value}}
    </p>

    <a class="" href="">INSTAGRAM</a>
    <a class="" href="">FACEBOOK</a>
    <a class="" href="">TWITTER</a>

    <a href="/">home</a>

  </div>



  <div class="cart-back" ng-click="backFromProcessed()" ng-hide="Processed.status==200 || Processed==false">
    <h3>back</h3>
  </div>
</div>
