<div class="processed" ng-cloak>
  <div class="processed-error" ng-hide="Processed.status==200 || Processed==false">
    <p>an error occurred please refresh the page</p>
    <p>{{Processed.data}}</p>
  </div>

  <div class="processed-thankyou" ng-show="Processed.status==200">
    <p>
      your order will be shipped to
      {{Processed.data.order.ship_to.data.address_1}}
      {{Processed.data.order.ship_to.data.city}}
      {{Processed.data.order.ship_to.data.county.value}}
      {{Processed.data.order.ship_to.data.country.value}}
    </p>
    <a class="" href="https://www.instagram.com/novacancyinn/">IG</a>
    <!-- <audio src="/assets/audio/youaresobeautiful.mp3" autoplay>
      <source src="/assets/audio/youaresobeautiful.mp3" type="audio/mpeg">
    </audio> -->
  </div>



  <div class="cart-back" ng-click="backFromProcessed()" ng-hide="Processed.status==200 || Processed==false">
    <p class="hvr-color">back</p>
  </div>
</div>
