<div class="reset" ng-controller="userCtrl">

  <h3 class="form-title">new password</h3>

  <form class="reset-form" name="newpasswordForm" novalidate ng-submit="newpasswordSave(newpassword)" >


      <div class="form-entry">
        <input type="email" name="email" value="email" ng-model="newpassword.email" required placeholder="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'email'">
          <span class="form-error" ng-show="newpasswordForm.email.$error.required && newpasswordForm.email.$touched">required</span>
          <span class="form-error" ng-show="newpasswordForm.email.$error.email && newpasswordForm.email.$touched">invalid email</span>
        </input>
      </div>

      <div class="form-entry">
        <input type="text" name="password" value="password" ng-model="newpassword.password" required ng-pattern="passwordRegex" placeholder="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'password'">
          <span class="form-error" ng-show="newpasswordForm.password.$error.required && newpasswordForm.password.$touched">required</span>
        </input>

      </div>


      <div class="form-entry">
        <input type="text" name="confirm_password" value="confirm password" ng-model="newpassword.confirm_password" compare-to="newpassword.password" required placeholder="confirm password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'confirm password'">
          <span class="form-error" ng-show="newpasswordForm.confirm_password.$error.compareTo && newpasswordForm.confirm_password.$touched">passwords do not match</span>
        </input>


      </div>
      <div class="form-error form-error-password form-error-password-user" ng-show="newpasswordForm.password.$error.pattern && newpasswordForm.password.$touched && !newpasswordForm.password.$error.min">
        <p>Password be at least 6 characters and contain 1 Uppercase letter 1 lowercase letter and a number</p>
      </div>


      <button class="reset-button button" type="submit" ng-class="{'invalid': newpasswordForm.$invalid}" ng-disabled="newpasswordForm.$invalid">reset</button>


  </form>



  <div class="reset-error">
    <p>{{resetError}}</p>
  </div>


</div>
