<div class="reset">



  <form class="reset-form" name="resetForm" novalidate ng-submit="resetPassword(reset)" >


      <div class="form-entry">
        <input type="email" name="email" value="email" ng-model="reset.email" required placeholder="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'email'">
          <span class="form-error" ng-show="resetForm.email.$error.required && resetForm.email.$touched">required</span>
          <span class="form-error" ng-show="resetForm.email.$error.email && resetForm.email.$touched">invalid email</span>
        </input>
      </div>

      <button class="reset-button button" type="submit" ng-class="{'invalid': resetForm.$invalid}" ng-disabled="resetForm.$invalid">reset</button>


  </form>



  <div class="reset-error">
    <p>{{resetError}}</p>
  </div>


</div>
