/*....................................General settings..................................*/




/*.....................TEXT MARK STYLES......................*/

::-moz-selection {
      color: $white;
      text-shadow: none;
}


::selection {
    color: $white;
    text-shadow: none;
}



span::-moz-selection {
    background: transparent;
    color: $white;
    text-shadow: none;
}


span::selection {
    background: transparent;
    color: $white;
    text-shadow: none;
}

a::-moz-selection {
    background: transparent;
    color: $white;
    text-shadow: none;
}


a::selection {
    background: transparent;
    color: $white;
    text-shadow: none;
}



/*....................HIDING SCROLLBAR.....................*/

::-webkit-scrollbar {
    display: none;
}







*, *:before, *:after {
  box-sizing: inherit;
}




/*.....................GENERAL STYLES......................*/

html{
  box-sizing: border-box;
  font-family: $font-family-paragraph;
  width: 100%;
  height: auto;
  margin: 0, 0;
  padding: 0, 0;
  color:$light-grey;
  min-height:100%;
  background-color: $black;
  font-weight: normal !important;
  // font-smooth: never;
  // // -webkit-font-smoothing : none;
  @include respond-to(phone-device){
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    height:100vh;
    width:100vw;
  }
}


body {
  width: 100%;
  height: auto;
   color:$light-grey;
   min-height:100%;
   background-color: $black;
  margin: 0, 0;
  padding: 0, 0;
  display: table;
  @include respond-to(phone-device){
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    height:100vh;
    width:100vw;
  }

/* Hide oversized content. This prevents the scroll bars. */
// overflow: hidden;
}






/*.........................MAIN............................*/
main {
  height: auto;
  min-height:100%;
  width:calc(100vw - 270px);
  position: relative;
  display: block;
  list-style-type: none;
  display: table;
  margin-left: 270px;
}








/*........................A.................................*/


a:active {

}
.ng-click-active{

}

a{
  cursor: pointer;
  @include h3();
  @include hover-effect-color($light-grey, $white);
}


/*.....................ACTIVE CLASSES......................*/

.active{
  text-shadow: 0 0 3px $purple;
  pointer-events: none;
}




/*.....................TABLE......................*/

table{
  width:100%;
  height:100%;
  tr{
    td{
      vertical-align: middle;
      height:100%;
    }
  }
}






input, textarea, select, a, li {
  text-decoration: none;
}

select, input, textarea{
  line-height: normal;
}


h1{
  @include h1();
}
h2{
  @include h2();
}
h3{
  @include h2();
}

p, a, li {
  list-style-type: none;
  letter-spacing:$letter-spacing;
}

p, span{
  @include paragraph();
  color:$light-grey;
}

button{
  @include button();
}



/*.............................Loader............................*/



.page-loader{
  display: none;
  height: 100vh;
  display: block;
  width: calc(100vw - 250px);
  padding: 0;
  margin: 0;
  display: list-item;
  background-color: transparent;
  z-index: $z-loader;
  background-color: rgba(0,0,0,1);
  position: fixed;
  top:0;
  left:250px;
  .loading-p{
    position: fixed;
    width:100vw;
    height:100vh;
    vertical-align: middle;
    text-align: center;
    @include h3();

  }
}

$animation-speed:1s;
$animation-bezier:ease;
//
// .page-loader-div{
//   opacity:1;
// }
//
// .page-loader-div.ng-hide{
//   opacity:0;
// }




@keyframes pageenter {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@-webkit-keyframes pageenter {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@-moz-keyframes pageenter {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@-ms-keyframes pageenter {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@-o-keyframes pageenter {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

/*.................................NG ENTER/LEAVE..................................*/

$fade-in: 1s;

.page.ng-enter {
  animation: pageenter $fade-in both ease 0s;
  -webkit-animation: pageenter $fade-in both ease 0s;
  -moz-animation: pageenter $fade-in both ease 0s;
  -ms-animation: pageenter $fade-in both ease 0s;
  -o-animation: pageenter $fade-in both ease 0s;
}

.page.page-home.ng-leave {
  animation: pageleave 0s ease;
  -webkit-animation: pageleave 0s ease;
  -moz-animation: pageleave 0s ease;
  -ms-animation: pageleave 0s ease;
  -o-animation: pageleave 0s ease;
    // opacity: 0;
}

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }



// .page.ng-hide{
//   opacity:0;
// }

.page.ng-enter{
  opacity:1;
  -webkit-transition: opacity $animation-speed $animation-bezier;
  -moz-transition: opacity $animation-speed $animation-bezier;
  -ms-transition: opacity $animation-speed $animation-bezier;
  -o-transition: opacity $animation-speed $animation-bezier;
  transition: opacity $animation-speed $animation-bezier;
}

.page.ng-leave{
  opacity:0;
  // -webkit-animation: opacity $animation-speed $animation-bezier;
  // -moz-animation: opacity $animation-speed $animation-bezier;
  // -ms-animation: opacity $animation-speed $animation-bezier;
  // -o-animation: opacity $animation-speed $animation-bezier;
  // animation: opacity $animation-speed $animation-bezier;
}



// .page-loader-div.ng-hide-remove.ng-hide-remove-active{
//   -webkit-transition: opacity $animation-speed $animation-bezier;
//   -moz-transition: opacity $animation-speed $animation-bezier;
//   -ms-transition: opacity $animation-speed $animation-bezier;
//   -o-transition: opacity $animation-speed $animation-bezier;
//   transition: opacity $animation-speed $animation-bezier;
// }
//
// .page-loader-div.ng-hide-add.ng-hide-add-active{
//   -webkit-transition: opacity $animation-speed $animation-bezier;
//   -moz-transition: opacity $animation-speed $animation-bezier;
//   -ms-transition: opacity $animation-speed $animation-bezier;
//   -o-transition: opacity $animation-speed $animation-bezier;
//   transition: opacity $animation-speed $animation-bezier;
// }


.bag{
  display: block;
  position: fixed;
  top:$margin-sides;
  right:$margin-sides;
  z-index: $z-bag;
  width:22px;
  height:22px;
  .bag-svg{
    width: 100%;
    height:100%;
    svg{
      width: 100%;
      height:100%;
    }
  }
  .bag-total{
    display: block;
    width: 100%;
    height:100%;
    line-height: 28px;
    text-align: center;
    font-size: 9px;
    position: absolute;
  }
}






/*.............................NG-CLOAK............................*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


[ng-click],
[data-ng-click],
[x-ng-click] {
cursor: pointer;
}
