.nav{
  position: fixed;
  width:250px;
  height:100vh;
  background-color: $black;
  left:0;
  top:0;
  z-index:$z-nav;
  border-right: 1px solid $deep_grey;
}


.nav-logo{
  width:100%;
  height:100px;
  position: absolute;
  top:0;
  left:0;
  svg{
    width:90%;
    height:80%;
    margin-top: 10%;
    margin-left: 5%;
  }
}



.nav-table{
  position: absolute;
  top:100px;
  left:0;
  width:100%;
  height:600px;
  .nav-list{
    width:100%;
    height:auto;
    .nav-main{
      width:auto;
      height:auto;
      margin-left: $margin-sides;
      margin-top:$margin-top-li;
      &:nth-child(1){
        margin-top: 0;
      }
      .nav-main-a{
        text-align: left;
        width:auto;
        display: block;
        clear: both;
        text-transform: uppercase;
      }
      .nav-sub{
        width:auto;
        height:auto;
        margin-left: 15px;
        .nav-sub-a{
          text-align: left;
          width:auto;
          display: block;
          clear: both;
          text-transform: uppercase;
          line-height: 27px;
        }
      }
    }



  }//nav list
}//nav table

.nav-bottom{
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  height:50px;
  .nav-bottom-lang{
    width:50%;
    position: absolute;
    right:0;


  }
}
