.nav{
  position: fixed;
  width:270px;
  height:100vh;
  background-color: $black;
  left:0;
  top:0;
  z-index:$z-nav;
  border-right: 2px solid $background_grey;
}


.nav-logo{
  width:100%;
  height:100px;
  position: absolute;
  top:0;
  left:0;
  svg{
    width:90%;
    height:80%;
    margin-top: 10%;
    margin-left: 5%;
  }
}



.nav-table{
  position: absolute;
  top:100px;
  left:0;
  width:100%;
  height:600px;
  .nav-list{
    width:100%;
    height:auto;
    .nav-main{
      width:auto;
      height:auto;
      margin-left: $margin-sides;
      margin-top:$margin-top-li;
      &:nth-child(1){
        margin-top: 0;
      }
      .nav-main-category{
        width:auto;
        display: block;
        clear: both;
        position: relative;
        .nav-main-category-a{
          text-align: left;
          display: inline-block;
          text-transform: uppercase;
          @include p();
        }
        .nav-main-category-span{
          display: inline-block;
          position: relative;
          margin-left:5px;
          text-align: right;
          text-transform: uppercase;
          @include p();
        }
      }
      .nav-sub{
        width:auto;
        height:auto;
        margin-left: 15px;
        .nav-sub-a{
          @include p();
          text-align: left;
          width:auto;
          display: block;
          clear: both;
          text-transform: uppercase;
          line-height: 28px;
          transition: none;
          -webkit-transition: none;
          -moz-transition: none;
          -ms-transition: none;

        }
      }
    }



  }//nav list
}//nav table




.closeCategory{
  height:0;
  display:none;
}


$line-height-nav-small: 23px;



.nav-bottom{
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  height:auto;
  .nav-bottom-one{
    display: table;
    width:100%;
    position: relative;
    left:0;
    margin:0;
    top:0;
    .nav-bottom-left{
      width:auto;
      position: relative;
      display: table;
      margin-left:$margin-sides;
      margin-bottom:40px;

      .nav-bottom-left-li{
        display: block;
        height:$line-height-nav-small;
        width:130px;
        a{
          display: block;
          @include p2();
          @include hover-effect-color($dark_grey, $white);
          text-transform: uppercase;
          line-height: $line-height-nav-small;
          height:$line-height-nav-small;
        }
      }
    }
    //nav bottom right
    .nav-bottom-right{
      height:auto;
      position: absolute;
      top:0%;
      right:$margin-sides;
      .nav-bottom-right-li{
        a{
          @include p2();
          @include hover-effect-color($dark_grey, $white);
          height:$line-height-nav-small;
          line-height: $line-height-nav-small;
          text-transform: uppercase;
          text-align: right;
        }
      }

      .nav-bottom-right-login{
        height:auto;
        a{
          display: block;
          @include p2();
          @include hover-effect-color($dark_grey, $white);
          text-transform: uppercase;
          line-height: $line-height-nav-small;
          height:$line-height-nav-small;
          text-align: right;
        }
      }
    }
  }
}









//nav-bottom-other
.nav-bottom-two{
  position: relative;
  width:auto;
  display: block;
  margin-left: $margin-sides;
  margin-bottom: $margin-sides;
  .nav-bottom-two-li{
    width:auto;
    display: inline-block;
    margin-left: 3px;
    a{
      display: block;
      @include p3();
      text-transform: uppercase;
      line-height: $line-height-nav-small;
      height:$line-height-nav-small;
      text-align: left;
      @include hover-effect-color($dark_grey, $white);
    }
  }
  .nav-bottom-two-terms{

  }
  .nav-bottom-two-support{

  }
}

.nav-bottom-two-lang{
  width:auto;
  display: table !important;
  position: absolute;
  right:$margin-sides;
  bottom:0;
  .nav-bottom-two-lang-ul{
    display: table;
    .nav-bottom-two-lang-li{
      text-align: right;
      // @include hover-effect-color($dark_grey, $white);

      p{
        display: block;
        @include p3();
        text-transform: uppercase;
        // line-height: $line-height-nav-small;
        // height:$line-height-nav-small;
        text-align: right;
        line-height: $line-height-nav-small;
        height:$line-height-nav-small;
        @include hover-effect-color($dark_grey, $white);
      }
    }
  }


}
