/*.................................................................................*/
//---------------------------------------------------------------MEDIA QUERIES---------------------------------------------------------------------
$break-phone: 767px;
$break-phone-landscape: 767px;
$break-tablet: 1022px;
$break-tablet-landscape: 1024px;
$break-laptop-small: 1280px;
$break-laptop-medium: 1440px;
$break-laptop-large: 1920px;
$break-desktop: 50000px;
/*$break-large-desktop: 2500px;*/
/*$break-infinite: 500000px;*/

@mixin respond-to($media) {
/*  @if $media == large-desktop {
    @media only screen and (min-width: $break-large-desktop + 1) and (max-width: $break-infinite) { @content; }
  }*/
  @if $media == desktop {
    @media only screen and (min-width: $break-laptop-large + 1) and (max-width: $break-desktop) { @content; }
  }
  @else if $media == laptop-large {
    @media only screen and (min-width: $break-laptop-medium + 1) and (max-width: $break-laptop-large) { @content; }
  }
  @else if $media == laptop-medium {
    @media only screen and (min-width: $break-laptop-small + 1) and (max-width: $break-laptop-medium) { @content; }
  }
  @else if $media == laptop-small {
    @media only screen and (min-width: $break-tablet + 1) and (max-width: $break-laptop-small) { @content; }
  }

  ////////////|||||||||||..just changed the tablet media query below because it was not reading the landscape view: 1024px is the tablet landscape width..||||||||||||||\\\\\\\\\\

  @else if $media == tablet-landscape {
    @media only screen and (min-width: $break-phone + 1) and (max-width: $break-tablet-landscape) and (orientation: landscape) { @content; }
  }
  @else if $media == tablet-portrait {
    @media only screen and (min-width: $break-phone + 1) and (max-width: $break-tablet) and (orientation: portrait) { @content; }
  }
  @else if $media == phone {
    @media only screen and (min-width: 0px) and (max-width: $break-phone) { @content; }
  }

  //These are only for the real device
  @else if $media == tablet-landscape-device {
    @media only screen and (min-device-width: $break-phone + 1) and (max-device-width: $break-tablet) and (orientation: landscape) { @content; }
  }
  @else if $media == tablet-portrait-device {
    @media only screen and (min-device-width: $break-phone + 1) and (max-device-width: $break-tablet) and (orientation: portrait) { @content; }
  }
  @else if $media == phone-device {
    @media only screen and (min-width: 0px) and (max-device-width: $break-phone) { @content; }
  }
  @else if $media == phone-landscape-device {
        @media only screen and (min-width: 0px) and (max-width: $break-phone) and (orientation: landscape) { @content; }
      }
}









@mixin hover-effect-fill($color, $hover, $type){


  @if $type == 'fill' {

    svg, g, path, rect, line{
      fill: $color;
      transition:         fill $transition-medium ease;
      -webkit-transition: fill $transition-medium ease;
      -moz-transition:    fill $transition-medium ease;
      -ms-transition:     fill $transition-medium ease;
      -o-transition:      fill $transition-medium ease;

    }

    &:hover {
        svg, g, path, rect,line{
          fill: $hover;
          @include respond-to(phone-device) {
              fill: $color !important;
          }
          @include respond-to(tablet-portrait-device) {
              fill: $color !important;
          }
          @include respond-to(tablet-landscape-device) {
              fill: $color !important;
          }
        }
    }

  } @else if $type == 'stroke' {
      svg, g, path, rect, line{
        stroke: $color;
        transition:         stroke $transition-medium ease;
        -webkit-transition: stroke $transition-medium ease;
        -moz-transition:    stroke $transition-medium ease;
        -ms-transition:     stroke $transition-medium ease;
        -o-transition:      stroke $transition-medium ease;
      }

      &:hover {
          svg, g, path, rect, line{
            stroke: $hover;
            @include respond-to(phone-device) {
                stroke: $color !important;
            }
            @include respond-to(tablet-portrait-device) {
                stroke: $color !important;
            }
            @include respond-to(tablet-landscape-device) {
                stroke: $color !important;
            }
          }
      }
  }
}






$transition-slow: 1s;

/*....................................SCSS MIXINS..................................*/


@mixin hover-effect-opacity($opacity: 1, $hover: .05){
  opacity: $opacity;
  transition:         all $transition-medium ease;
  -webkit-transition: all $transition-medium ease;
  -moz-transition:    all $transition-medium ease;
  -ms-transition:     all $transition-medium ease;
  -o-transition:      all $transition-medium ease;


  &:hover {
    opacity: $hover;

  }
}

@mixin hover-effect-fade($px){

  filter: blur(0px);
  -webkit-filter:blur(0px);
  -o-filter: blur(0px);
  -moz-filter: blur(0px);
  transition:         all $transition-slow ease;
  -webkit-transition: all $transition-slow ease;
  -moz-transition:    all $transition-slow ease;
  -ms-transition:     all $transition-slow ease;
  -o-transition:      all $transition-slow ease;


  &:hover {
    filter: blur($px);
    -webkit-filter: blur($px);
    -o-filter: blur($px);
    -moz-filter: blur($px);

    @include respond-to(phone-device) {
      filter: blur(0);
      -webkit-filter: blur(0);
      -o-filter: blur(0);
      -moz-filter: blur(0);
    }
    @include respond-to(tablet-portrait-device) {
      filter: blur(0);
      -webkit-filter: blur(0);
      -o-filter: blur(0);
      -moz-filter: blur(0);
    }
    @include respond-to(tablet-landscape-device) {
      filter: blur(0);
      -webkit-filter: blur(0);
      -o-filter: blur(0);
      -moz-filter: blur(0);
    }
  }
}









@mixin hover-effect-background-color($color, $hover){
  background-color: $color;
  transition:         background-color $transition-slow ease;
  -webkit-transition: background-color $transition-slow ease;
  -moz-transition:    background-color $transition-slow ease;
  -ms-transition:     background-color $transition-slow ease;
  -o-transition:      background-color $transition-slow ease;

  &:hover {
    background-color: $hover;
    @include respond-to(phone-device) {
        background-color: $color !important;
    }
    @include respond-to(tablet-portrait-device) {
        background-color: $color !important;
    }
    @include respond-to(tablet-landscape-device) {
        background-color: $color !important;
    }
  }
}


@mixin hover-effect-color($color, $hover){
  color: $color;
  transition:         color $transition-medium ease;
  -webkit-transition: color $transition-medium ease;
  -moz-transition:    color $transition-medium ease;
  -ms-transition:     color $transition-medium ease;
  -o-transition:      color $transition-medium ease;
  // opacity: $hover;

  &:hover {
    color: $hover;
    @include respond-to(phone-device) {
        color: $color !important;
    }
    @include respond-to(tablet-portrait-device) {
        color: $color !important;
    }
    @include respond-to(tablet-landscape-device) {
        color: $color !important;
    }
  }
}

@mixin hover-effect-glow($color){
  text-shadow: 0 0 0px $color;
  transition:         text-shadow $transition-fast ease;
  -webkit-transition: text-shadow $transition-fast ease;
  -moz-transition:    text-shadow $transition-fast ease;
  -ms-transition:     text-shadow $transition-fast ease;
  &:hover{
    text-shadow: 2px 2px 7px $color;

    // color:$white !important;
    @include respond-to(phone-device) {
        color: $color !important;
    }
    @include respond-to(tablet-portrait-device) {
        color: $color !important;
    }
    @include respond-to(tablet-landscape-device) {
        color: $color !important;
    }
  }

}

@mixin transform-transition($duration: $transition-slow){
  transition:         transform $duration ease-in-out;
  -webkit-transition: -webkit-transform $duration ease-in-out;
  -moz-transition:    -moz-transform $duration ease-in-out;
  -ms-transition:     -ms-transform $duration ease-in-out;
  -o-transition:      -o-transform $duration ease-in-out;
}

@mixin transform-element($coordinate){
  transform: $coordinate;
  -ms-transform: $coordinate; /* IE 9 */
 	-webkit-transform: $coordinate; /* Safari */
  -moz-transform: $coordinate; /* Safari */
  transform-origin: 0 0;
}


@mixin transform-position($position: -100%){
  transform: translateX($position);
  -webkit-transform:  translateX($position);
  -moz-transform:     translateX($position);
  -ms-transform:      translateX($position);
  -o-transform:       translateX($position);
}


@mixin center-transform($left, $top){
  transform: translate3d($left,$top, 0);
  -webkit-transform:  translate3d($left,$top, 0);
  -moz-transform:     translate3d($left,$top, 0);
  -ms-transform:      translate3d($left,$top, 0);
  -o-transform:       translate3d($left,$top, 0);
}




@mixin keyframes($name, $name_back, $position_initial, $position_final, $position_initial_mobile, $position_final_mobile){


      @keyframes $name {
        0% {@include transform-element($position_initial)}
        100% {@include transform-element($position_final)}
      }

      @-webkit-keyframes $name {
        0% {@include transform-element($position_initial)}
        100% {@include transform-element($position_final)}
      }

      @-moz-keyframes $name {
        0% {@include transform-element($position_initial)}
        100% {@include transform-element($position_final)}
      }

      @-ms-keyframes $name {
        0% {@include transform-element($position_initial)}
        100% {@include transform-element($position_final)}
      }

      @-o-keyframes $name {
        0% {@include transform-element($position_initial)}
        100% {@include transform-element($position_final)}
      }





      @keyframes $name_back {
        0% {@include transform-element($position_final)}
        100% {@include transform-element($position_initial)}
      }

      @-webkit-keyframes $name_back {
        0% {@include transform-element($position_final)}
        100% {@include transform-element($position_initial)}
      }

      @-moz-keyframes $name_back {
        0% {@include transform-element($position_final)}
        100% {@include transform-element($position_initial)}
      }

      @-ms-keyframes $name_back {
        0% {@include transform-element($position_final)}
        100% {@include transform-element($position_initial)}
      }

      @-o-keyframes $name_back {
        0% {@include transform-element($position_final)}
        100% {@include transform-element($position_initial)}
      }


}


@mixin h1(){
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  // font-family: $font-family-h1;
  font-weight: 700;
}
@mixin h2(){
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  // font-family: $font-family-h2;
  font-weight: 700;
}

@mixin paragraph(){
  font-size: $font-size-paragraph;
  line-height: $line-height-paragraph;
  // font-family: $font-family-paragraph;
  font-weight: 700;
}

@mixin raised($opacity, $horizontal-initial: 2px, $vertical-initial:2px,$horizontal-final: 6px, $vertical-final:6px, $thickness-initial:10px, $thickness-final:10px){

  box-shadow: $horizontal-initial $vertical-initial $thickness-initial 0 rgba(0, 0, 0, $opacity);
  transition:         all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition:    all 0.4s ease-in-out;
  -ms-transition:     all 0.4s ease-in-out;
  -o-transition:      all 0.4s ease-in-out;
  &:hover {
    box-shadow: $horizontal-final $vertical-final $thickness-final 0 rgba(0, 0, 0, $opacity);
  }
}
