/*....................................SCSS VARIABLES..................................*/

$z-nav: 4;




// ........................................................FONT SIZES

$font-size-h1:45px;
$font-size-h2:35px;
$font-size-h3:15px;
$font-size-p: 11px;
$font-size-p2: 9px;

$font-size-h1-mobile:35px;
$font-size-h2-mobile:25px;
$font-size-h3:11px;
$font-size-p-mobile: 12px;
$font-size-p2-mobile: 12px;


$letter-spacing: 2px;



$font-family-nav: 'gillsans_light';
$font-family-h1: 'didot';
$font-family-h2: 'didot';
$font-family-h3: 'gillsans_light';
$font-family-p: 'gillsans_light';
$font-family-p2: 'gillsans_light';


// ........................................................FONT LINEHEIGHTS
$line-height-h1: 60px;
$line-height-h2: 50px;
$line-height-h3: 20px;
$line-height-p: 20px;
$line-height-p2: 15px;

$line-height-h1-mobile: 40px;
$line-height-h2-mobile: 24px;
$line-height-h3:20px;
$line-height-p-mobile: 18px;
$line-height-p2-mobile: 15px;

$button-height:50px;

// ........................................................TEXT PADDINGS
$padding-text: 5px;
$padding-left: 0px;
$padding-headline-bottom: 20px;



// ........................................................COLORS
$black: #000000;
$purple: #884f9e;
$red: #ec2224;
$deep_grey: #0a0a0a; //353841 3d3d3d 161616 090F0F
$dark_grey: #515151;
$light_grey: #979797;
$white: #FFFFFF;
$yellow: #ede611;
$green: #009900;
$light-grey: #d3d3d3;
$light-grey-transparent: rgba(0,0,0, 0.3);
$light-light-grey: rgba(0,0,0, 0.1);

// ........................................................MARGINS
$margin-sides: 20px;
$margin-bottom: 35px;
$margin-bottom-p:35px;
$margin-top: 200px;
$margin-sides-mobile:10px;
$margin-left-p:10px;
$margin-top-p:10px;
$margin-top-li:25px;
$margin-top-form: 10px;
$margin-right-p:40px;
$form-sides:100px;

//mobile
$margin-top-li-mobile:25px;
$margin-top-mobile: 50px;
$margin-right-p-mobile: 20px;
$form-sides-mobile:50px;

// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;

$animation-bezier: cubic-bezier(.17,.67,.91,.6);

// ........................................................COLOR CHANGES




// ........................................................FADE INS
$smooth-scroll-timing: 1.4s;




$z-clickOut: 19;
$z-cart: 18;

$z-logo:17;
$z-nav: 16;
$z-loader: 16;


$z-bag: 14;
$z-shop-content:13;
$z-back: 12;

$z-shop-content: 11;

$z-detail-functions: 11;
$z-close:10;
$z-home: 10;
$z-shop-image:10;
$z-detail:10;
$z-price:9;


$z-main: 6;


/*....................................................................................*/
