/*....................................SCSS VARIABLES..................................*/

$z-nav: 4;



// ........................................................FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;



// ........................................................FONT SIZES
$font-size-nav:35px;
$font-size-h1:35px;
$font-size-h2:13px;
$font-size-paragraph: 12px;

$font-size-nav-mobile:25px;
$font-size-h1-mobile:30px;
$font-size-h2-mobile:14px;
$font-size-paragraph-mobile: 12px;


$letter-spacing: 1px;



$font-family-nav: helvetica;
$font-family-h1: helvetica;
$font-family-h2: helvetica;
$font-family-paragraph: helvetica;



// ........................................................FONT LINEHEIGHTS
$line-height-h1: 50px;
$line-height-h2: 35px;
$line-height-paragraph: 30px;


$line-height-h1-mobile: 40px;
$line-height-h2-mobile: 24px;
$line-height-paragraph-mobile: 18px;

$button-height:50px;

// ........................................................TEXT PADDINGS
$padding-text: 5px;
$padding-left: 0px;
$padding-headline-bottom: 20px;



// ........................................................COLORS
$black: #000000;
$purple: #884f9e;
$red: #ec2224;
$white: #FFFFFF;
$yellow: #ede611;
$green: #009900;
$light-grey: #d3d3d3;
$light-grey-transparent: rgba(0,0,0, 0.3);
$light-light-grey: rgba(0,0,0, 0.1);

// ........................................................MARGINS
$margin-sides: 20px;
$margin-bottom: 35px;
$margin-bottom-paragraph:35px;
$margin-top: 200px;
$margin-sides-mobile:10px;
$margin-left-paragraph:10px;
$margin-top-paragraph:10px;
$margin-top-li:30px;
$margin-right-p:40px;
$form-sides:100px;

//mobile
$margin-top-li-mobile:25px;
$margin-top-mobile: 50px;
$margin-right-p-mobile: 20px;
$form-sides-mobile:50px;

// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;

$animation-bezier: cubic-bezier(.17,.67,.91,.6);

// ........................................................COLOR CHANGES




// ........................................................FADE INS
$smooth-scroll-timing: 1.4s;




$z-clickOut: 19;
$z-cart: 18;

$z-logo:17;
$z-nav: 16;
$z-loader: 16;


$z-shop-dollar: 14;
$z-shop-content:13;
$z-back: 12;

$z-shop-content: 11;

$z-detail-functions: 11;
$z-close:10;
$z-home: 10;
$z-shop-image:10;
$z-detail:10;
$z-price:9;


$z-main: 6;


/*....................................................................................*/
