
//
// @font-face {
//     font-family: gtWalsheimPro-black;
//     src: url('assets/fonts/GT-Walsheim/woff/GTWalsheimProBlack-Oblique.woff') format('woff'), url('assets/fonts/GT-Walsheim/otf/GTWalsheimProBlack-Oblique.otf') format('otf');
// }
@font-face {
    font-family: gillsans_light;
    src: url('/assets/fonts/gillsans/light/GillSans-Light.woff2') format('woff2'), url('/assets/fonts/gillsans/light/GillSans-Light.woff') format('woff'), url('/assets/fonts/gillsans/light/GillSans-Light.otf') format('otf');
}

@font-face {
    font-family: gillsans;
    src: url('/assets/fonts/gillsans/regular/GillSans.woff2') format('woff2'), url('/assets/fonts/gillsans/regular/GillSans.woff') format('woff'), url('/assets/fonts/gillsans/regular/GillSans.otf') format('otf');
}

@font-face {
    font-family: didot;
    src: url('/assets/fonts/didot/Didot.woff2') format('woff2'), url('/assets/fonts/didot/Didot.woff') format('woff'), url('/assets/fonts/didot/Didot.otf') format('otf');
}
