
//
// @font-face {
//     font-family: gtWalsheimPro-black;
//     src: url('assets/fonts/GT-Walsheim/woff/GTWalsheimProBlack-Oblique.woff') format('woff'), url('assets/fonts/GT-Walsheim/otf/GTWalsheimProBlack-Oblique.otf') format('otf');
// }
@font-face {
    font-family: folio;
    src: url('/assets/fonts/folio.woff') format('woff');
}

@font-face {
    font-family: basil;
    src: url('/assets/fonts/BasilQT-Regular.otf') format('woff');
}

@font-face {
    font-family: graebenbach;
    src: url('/assets/fonts/gbcamweba-webfont.woff') format('woff');
}
